body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v936-background-adj-08.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=eb5816bfb1a2e622f0fe22c39376e217);
}
.div1{
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
}
.div1a{
    border: red solid 6px;
    background-color: black;
    font-style: italic;
    color: cornsilk;
    padding: 25px 25px 15px 40px;
    font-size: 25px;
    border-radius: 40px;
    line-height: 40px;
    height: fit-content;
}
.div1b{
    border: solid red 6px;
    background-color: black;
    font-style: italic;
    color: cornsilk;
    padding: 25px;
    font-size: 25px;
    border-radius: 40px;
    height: 50px;
    margin-top: 15px;
}
.div1c{
    border: red solid 6px;
    background-color: black;
    font-style: italic;
    color: cornsilk;
    padding: 20px 35px 15px 30px;
    font-size: 25px;
    border-radius: 40px;
    line-height: 40px;
    height: fit-content;
}
.div2{
    display: flex;
}
.div2a{
    border: solid 9px rgb(134, 44, 44);
    background-color: rgb(16, 199, 199);
    border-radius: 50%;
    font-size: 26px;
    font-weight: bolder;
    line-height: 60px;
    text-align: center;
    height: fit-content;
    text-decoration: underline;
    font-style: italic;
    width: 450px;
    margin: 200px 100px 80px 1px;
    padding: 80px 0px 80px 0px;

}
.div2b{
    background-color: whitesmoke;
    border-width: 10px;
    border-style: dotted;
    border-color: firebrick;
    text-align: center;
    width: 400px;
    margin-top: 30px;
    color: red;
    line-height: 23px;
}
.bt1{
    border:blue solid 2px;
    text-decoration: none;
    padding: 4px;
    background-color: #e2dede;
    border-radius: 10px;
}
.div3{
    align-content: center;
    border: solid red 7px;
    background-color: black;
    color: blanchedalmond;
    width: 150px;
    margin-left: 500px;
    margin-top: 60px;
    text-align: center;
    font-style: italic;
    padding: 2px 24px 2px 24px;
    border-radius: 40px;
    font-size: 50px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    
}
.menu1{
    border: green solid 4px;
    border-radius: 40px;
    background-color: rgb(2, 255, 234);
    color: rgb(9, 51, 192);
    text-align: center;
    width: 300px;
    font-size: large;
}
